<div class="container py-5">
  <h1 class="text-center">Gửi mail theo cách của bạn</h1>
  <div class="mx-auto" style="max-width: 400px;">
    <% if (req?.msg) { %>
      <div class="alert alert-success"  role="alert">
        <%= req?.msg %>
      </div>
    <% } %>
    <% if (req?.error) { %>
      <div class="alert alert-danger" role="alert">
        <%= req?.error %>
      </div>
    <% } %>
  </div>
  <form method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email gửi đến</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" value="<%= req?.old?.email %>" aria-describedby="emailHelp">
      <span class="text-danger"><%= req?.errors?.email %></span>
    </div>
    <div class="mb-3">
      <label for="exampleInputTitle" class="form-label">Tiêu đề</label>
      <input type="text" class="form-control" name="title" value="<%= req?.old?.title %>" id="exampleInputTitle">
      <span class="text-danger"><%= req?.errors?.title %></span>
    </div>
    <div class="mb-3">
      <label for="exampleInputContent" class="form-label">Nội dung</label>
      <textarea class="form-control" name="content" style="min-height: 100px;" value="<%= req?.old?.content %>" name="" id="exampleInputContent"></textarea>
      <span class="text-danger"><%= req?.errors?.content %></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-danger">Trở lại</a>
  </form>
</div>
